<!DOCTYPE html>
%html
  %head
    %meta{'name' => "viewport", 'content' => "width=device-width, initial-scale=1.0"}
    %title
      - if @title.nil?
        = request.path_info[1..-1].capitalize

      = @title
      \-
      = settings.project_name


    %link{"rel" => "stylesheet", "href" => "//fonts.googleapis.com/css?family=Raleway:400", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/bootstrap/css/bootstrap.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/bootstrap-hacks.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/font-awesome-4.0.0/css/font-awesome.min.css", "type" => "text/css"}
    %link{"rel" => "icon", "href" => "/favicon.png"}
    %link{"rel" => "chrome-webstore-item", "href" => "https://chrome.google.com/webstore/detail/mpifekaiabpalokkgbkeejmfofpohfdn"}
  %body
    = haml :analytics

    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button{:type => 'button', :class =>'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
            %span{:class => 'icon-bar'}
            %span{:class => 'icon-bar'}
            %span{:class => 'icon-bar'}

          .navbar-brand
            %a{:href=> '/'}
              %img{:width => 100, :src => '/images/logo.svg', :alt  => "Logo"}
              = settings.project_name
        .navbar-collapse.collapse
          -# %ul.nav.navbar-nav
          -#  %li{:class=>'active'}
          -#    %a{:href=>'/'} Home

          .navbar-right.navbar-nav.nav.navbar-buttons
            - if logged_in?
              %a{:type => "button", :href => "/settings", :value => "Settings", :class => 'btn btn-warning', :disabled => request.path_info == '/settings'}
                Settings
                %i(class='loginbox-icon fa fa-cogs icon-large')
              %a{:href => "/logout", :value => "Logout", :class => 'btn btn-danger'}
                Logout
                %i(class='loginbox-icon fa fa-unlock icon-large')
            - else
              %a{:href => "/signup", :value => "Join, it's free!", :class => 'btn btn-success', :disabled => request.path_info == '/signup'}
                Sign up, it's free!
                %i(class='loginbox-icon fa fa-bolt icon-large')
              %a{:href => "/login", :value => "Login", :class => 'btn btn-info', :disabled => request.path_info == '/login'}
                Login
                %i(class='loginbox-icon fa fa-lock icon-large')
    .container.text-center.content-container
      .content
        - if @title
          .page-header
            %h2
              = @title
        = haml :alert
        = yield
    = haml :footer
    %script{:type => 'text/javascript', :src => '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/bootstrap/js/bootstrap.js'}

